.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.m {
  background-color: #647ba8;
  border-radius: 2rem;

  padding: 0.4rem 1rem 0.4rem 1rem;
  color: white;
}

.favorites {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  text-align: left;
  margin: 1rem 2rem;
  color: rgb(113, 128, 154);
  border-bottom: solid 1px #7f7f7f;
  height: auto;
  padding-bottom: 1rem;

}

.text-block {
  min-width: 18rem;
  height: auto;
  border-right: solid 1px #7f7f7f;
}

.f-names {
  width: 100%;
  height: auto;
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.f-names span {
  margin: 0.2rem;
  border-radius: 2rem;
  padding: 0.4rem 1rem 0.4rem 1rem;
  height: 1.2rem;

}

.favorites p {
  font-size: 12px;
  margin-top: -0.5rem;
}

.f {
  background-color: #b082b6;
  border-radius: 2rem;
  padding: 0.4rem 1rem 0.4rem 1rem;
  color: white;
  height: 1.2rem;

}

.g-girls {
  background-color: #b082b6;
  border: none;
  border-radius: 2rem;
  padding: 0.4rem 1rem 0.4rem 1rem;
  color: white;
  height: 2rem;
}

.g-boys {
  background-color: #647ba8;
  margin-left: 0.5rem;
  border: none;
  border-radius: 2rem;
  padding: 0.4rem 1rem 0.4rem 1rem;
  color: white;
  height: 2rem;
}

.container-for-names {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  margin-top: 2rem;
}

.search-bar {
  width: 20rem;
  height: 2rem;
  margin: 1rem;
  box-shadow: 0px 0px 8px rgb(199, 199, 199);
  border: none;
  border-radius: 1rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.search-bar:focus {
  outline: none;
}

.search-area {
  margin: 1rem 1rem 0 1rem;
  padding-top: 1rem;
}

.search-area h1 {
  color: rgb(113, 128, 154);
}