.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.each-name {
  background-color: #647ba8;
  border-radius: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.each-name-girls {
  background-color: #e599ef;
  border-radius: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

}

.container-for-names {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;

}

.search-bar {
  width: 20rem;
  height: 2rem;
  margin: 1rem;
  box-shadow: 0px 0px 8px rgb(199, 199, 199);
  border: none;
  border-radius: 1rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.search-bar:focus {
  outline: none;
}